.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/4.jpg
src/components/HelloWorld1.vue

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
